<app-todo-nav></app-todo-nav>
<div class="container">
  <div class="row mt-4">
    <div class="col-sm-4">
      <div class="list-group">
  
        <ng-container *ngFor="let p of projects" [@preventInitialChildAnimations]>
          <a href="#" class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{ 'active' : activeProject == p }" [@slideInOut] (click)="setActiveProject(p, $event)">
            {{ p.name }}
            <span class="badge badge-pill" *ngIf="p.items.length > 0" [ngClass]="{ 'badge-light' : activeProject == p, 'badge-primary' : activeProject != p }">{{ p.items.length }}</span>
            <span class="badge badge-pill" *ngIf="p.items.length == 0" [ngClass]="{ 'badge-light' : activeProject == p, 'badge-primary' : activeProject != p }">–</span>
          </a>
        </ng-container>

        <a href="#" class="list-group-item d-flex justify-content-between align-items-center text-success" *ngIf="!createProject" (click)="setCreateMode(true, $event)">
          <span>Add new project</span>
        </a>
        <span href="#" class="list-group-item d-flex justify-content-between align-items-center text-success" *ngIf="createProject">
          <input class="form-control" placeholder="Project name" [(ngModel)]="createProjectName" (keypress)="saveProject($event)" #projectNameInput />
        </span>
      </div>
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
        <ng-container *ngIf="activeProject?.items">
          <app-todo-item *ngFor="let item of activeProject.items" [todo]="item" (delete)="deleteActiveProjectItem($event)"></app-todo-item>
          <a href="#" class="list-group-item d-flex justify-content-between align-items-center text-success" *ngIf="!createItem" (click)="setItemCreateMode(true, $event)">
            <span>Add new item</span>
          </a>
          <span href="#" class="list-group-item d-flex justify-content-between align-items-center text-success" *ngIf="createItem">
            <input class="form-control" [(ngModel)]="createItemName" (keypress)="saveItem($event)" placeholder="Item title" />
          </span>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
