<li class="list-group-item">
  <div class="row">
    <div class="col-12 col-md-8 d-flex align-items-center mb-3 mb-md-0">
      <input type="checkbox" class="mr-3" [(ngModel)]="todo.isComplete">
      <span>{{ todo.name }}</span>
    </div>
    <div class="col-9 col-md-3 d-flex align-items-center">
      <input readonly type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (focus)="d.open()" [(ngModel)]="todo.date" />
    </div>
    <div class="col-3 col-md-1 d-flex justify-content-around align-items-center todo-icons">
      <a class="text-primary"><span class="oi oi-pencil"></span></a>
      <a class="text-danger" (click)="deleteItem($event)"><span class="oi oi-x"></span></a>
    </div>
  </div>
</li>