/* You can add global styles to this file, and also import other style files */

$body-bg: #fff;
$grid-gutter-width: 16px;
@import "~bootstrap/scss/bootstrap";

$icon-font-path: '~open-iconic/font/fonts/';
@import "~open-iconic/font/css/open-iconic-bootstrap.scss";

body {
	padding-top: 56px;
}